<h3 class="ui header">{{t "forms.i-i-s-proekt-формир-распред-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-формир-распред-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-proekt-формир-распред-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерДокРаспр
      class=(if (v-get validationModel "номерДокРаспр" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-формир-распред-e.номерДокРаспр-caption")
      data-test-i-i-s-proekt-формир-распред-e-номерДокРаспр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерДокРаспр" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПостав.номерДог
      class=(if (v-get validationModel.докумПостав "номерДог" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-формир-распред-e.докумПостав.номерДог-caption")
      data-test-i-i-s-proekt-формир-распред-e-докумПостав-номерДог=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПостав "номерДог" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПостав.организация.наименование
      class=(if (v-get validationModel.докумПостав.организация "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-формир-распред-e.докумПостав.организация.наименование-caption")
      data-test-i-i-s-proekt-формир-распред-e-докумПостав-организация-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПостав.организация "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПостав.клиенты.наимЗаказ
      class=(if (v-get validationModel.докумПостав.клиенты "наимЗаказ" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-формир-распред-e.докумПостав.клиенты.наимЗаказ-caption")
      data-test-i-i-s-proekt-формир-распред-e-докумПостав-клиенты-наимЗаказ=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПостав.клиенты "наимЗаказ" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПостав.клиенты.телефон
      class=(if (v-get validationModel.докумПостав.клиенты "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-формир-распред-e.докумПостав.клиенты.телефон-caption")
      data-test-i-i-s-proekt-формир-распред-e-докумПостав-клиенты-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПостав.клиенты "телефон" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.пунктПогрузки.наименование
      class=(if (v-get validationModel.пунктПогрузки "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-формир-распред-e.пунктПогрузки.наименование-caption")
      data-test-i-i-s-proekt-формир-распред-e-пунктПогрузки-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.пунктПогрузки "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПостав.клиенты.адресПостав
      class=(if (v-get validationModel.докумПостав.клиенты "адресПостав" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-формир-распред-e.докумПостав.клиенты.адресПостав-caption")
      data-test-i-i-s-proekt-формир-распред-e-докумПостав-клиенты-адресПостав=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПостав.клиенты "адресПостав" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.списокБарж.номерБаржи
      class=(if (v-get validationModel.списокБарж "номерБаржи" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-формир-распред-e.списокБарж.номерБаржи-caption")
      data-test-i-i-s-proekt-формир-распред-e-списокБарж-номерБаржи=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.списокБарж "номерБаржи" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.списокКонтей.номерКонт
      class=(if (v-get validationModel.списокКонтей "номерКонт" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-формир-распред-e.списокКонтей.номерКонт-caption")
      data-test-i-i-s-proekt-формир-распред-e-списокКонтей-номерКонт=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.списокКонтей "номерКонт" "message")}}
  </div>
</form>
