<h3 class="ui header">{{t "forms.i-i-s-proekt-формир-распред-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерДокРаспр
      class=(if (v-get validationModel "номерДокРаспр" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-формир-распред-e.номерДокРаспр-caption")
      data-test-i-i-s-proekt-формир-распред-e-номерДокРаспр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерДокРаспр" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-формир-распред-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-proekt-формир-распред-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-формир-распред-e.пунктПогрузки-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.пунктПогрузки
      displayAttributeName="наименование"
      autocomplete=true
      relationName="пунктПогрузки"
      projection="ПунктПогрузкиL"
      title=(t "forms.i-i-s-proekt-формир-распред-e.пунктПогрузки-caption")
      readonly=readonly
      componentName="пунктПогрузкиLookup"
      class=(if (v-get validationModel "пунктПогрузки" "isInvalid") "error")
      data-test-i-i-s-proekt-формир-распред-e-пунктПогрузки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пунктПогрузки" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-формир-распред-e.списокБарж-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.списокБарж
      displayAttributeName="производитель"
      autocomplete=true
      relationName="списокБарж"
      projection="СписокБаржL"
      title=(t "forms.i-i-s-proekt-формир-распред-e.списокБарж-caption")
      readonly=readonly
      componentName="списокБаржLookup"
      class=(if (v-get validationModel "списокБарж" "isInvalid") "error")
      data-test-i-i-s-proekt-формир-распред-e-списокБарж=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "списокБарж" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-формир-распред-e.списокКонтей-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.списокКонтей
      displayAttributeName="наимКонт"
      autocomplete=true
      relationName="списокКонтей"
      projection="СписокКонтейL"
      title=(t "forms.i-i-s-proekt-формир-распред-e.списокКонтей-caption")
      readonly=readonly
      componentName="списокКонтейLookup"
      class=(if (v-get validationModel "списокКонтей" "isInvalid") "error")
      data-test-i-i-s-proekt-формир-распред-e-списокКонтей=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "списокКонтей" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-формир-распред-e.докумПостав-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.докумПостав
      displayAttributeName="дата"
      autocomplete=true
      relationName="докумПостав"
      projection="ДокумПоставL"
      title=(t "forms.i-i-s-proekt-формир-распред-e.докумПостав-caption")
      readonly=readonly
      componentName="докумПоставLookup"
      class=(if (v-get validationModel "докумПостав" "isInvalid") "error")
      data-test-i-i-s-proekt-формир-распред-e-докумПостав=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "докумПостав" "message")}}
  </div>
</form>
